body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: space-around;
  padding-bottom: 5em;
}
.advice {
  display: flex;
  flex-direction: row;
  background-color: #444b7a;
  height: 40em;
  justify-content: center;
  align-items: flex-start;
}
.muni,
.septic,
.storm {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100em;
  margin-top: 3em;
}
.septic {
  padding-left: 1em;
  padding-right: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444b7a;
  flex-wrap: wrap;
  font-family: "Roboto Serif", serif;
  color: whitesmoke;
  justify-content: center;
}
.detailHeader {
  font-family: "Roboto Serif", serif;
  font-size: 30px;
  color: palegoldenrod;
}
.detailParagraph {
  font-family: "Roboto Serif", serif;
  font-size: 15px;
  color: whitesmoke;
}
